*, ::before, ::after {
    box-sizing: border-box;
}
/* 
html {
    font-size: 16px;
} */
/* This is bad practice because This will override a user's chosen default font size.  
By default, the HTML tag has a font size of 16px, so 1rem will be equal to 16px.
*/

body {
    margin: 0;
}

.layout-container {
    margin: 0 auto;
    width: 90vw;
}

header {
    background-color: blanchedalmond;
}

.header__logo {
    margin: 5px;
}

main {
    padding: 16px 0;
}

footer {

}

.main__image1 {

}

img {
    max-width: 100%;
}