body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* CSS Reset enabled on seperate CSS file */
}

.container {
    padding: 10px 10px;
}

.header1 {
    background-color: hsl(197deg, 71%, 73%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    text-align: center;
}

.section-quote__heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    border-bottom: 1px solid hsl(50deg, 100%, 50%);
    padding: 20px 0;
}

.section-quote__quotetext {
    margin-bottom: 10px;
    text-align: center;
    padding: 20px 0;
}

.section-quote__picture-image1 {
    border: 1px solid black;
    border-radius: 50%;
    box-shadow:
     0 5.9px 8.4px rgba(0, 0, 0, 0.057), 0 19.9px 28.4px rgba(0, 0, 0, 0.083), 0 89px 127px rgba(0, 0, 0, 0.14);
}

.section-services {
    margin-bottom: 60px;
    text-align: center;
}

.section-services__heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 1px solid hsl(50deg, 100%, 50%);
    padding: 20px 0;
}

.section-services__list {
    list-style: none;
}

.section-services__list--boldcolor {
    color: green;
    font-weight: 800;
}

.section-services__picture-image1 {
    margin-top: 20px;
    border: 1px solid black;
    box-shadow:
     0 5.9px 8.4px rgba(0, 0, 0, 0.057), 0 19.9px 28.4px rgba(0, 0, 0, 0.083), 0 89px 127px rgba(0, 0, 0, 0.14);
}

.section-location-hours {
    margin-bottom: 60px;
    text-align: center;
}

.section-location-hours__heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 1px solid hsl(50deg, 100%, 50%);
    padding: 20px 0;
}

.section-location-hours__list {
    margin-bottom: 20px;
    list-style: none;
}

.section-loca5ion-hours__list-li {
    background-color: hsl(197deg, 71%, 73%);
    border: 1px solid black;
    font-weight: 700;
    padding: 10px 0;
    margin: 20px 0;
    box-shadow:
     0 5.9px 8.4px rgba(0, 0, 0, 0.057), 0 19.9px 28.4px rgba(0, 0, 0, 0.083), 0 89px 127px rgba(0, 0, 0, 0.14);
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    box-shadow:
     0 5.9px 8.4px rgba(0, 0, 0, 0.057), 0 19.9px 28.4px rgba(0, 0, 0, 0.083), 0 89px 127px rgba(0, 0, 0, 0.14);
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

iframe {
    border: 1px solid black;
}

.section-contact {
    text-align: center;
    font-size: 1.2rem;
}

.section-contact__heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 1px solid hsl(50deg, 100%, 50%);
    padding: 20px 0;
}

.mini-font {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
}

.mini-font2 {
    background-color: hsl(197deg, 71%, 73%);
    padding: 20px 35px;
    margin: 20px 5px;
    font-size: 3rem;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
}

.mini-font2--circle {
    padding: 20px 40px;
}

footer {
    background-color: hsl(197deg, 71%, 73%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    font-size: 0.8rem;
}

.footer__trapoasis {
    margin: 5px;
    text-align: center;
}

.footer__trapoasis-image1 {
    width: 3rem;
    margin: 5px;
}

strong {
    font-weight: 700;
}

img {
    max-width: 100%;
}

/* 0-550px — Mobile
550-1100px — Tablet
1100-1500px — Laptop
1500+px — Desktop */

@media (min-width: 68.75rem) {
    /* Laptop */

    .section-loca5ion-hours__list-li {
        margin: 0 auto;
        width: 500px;
    }    

    .map-responsive {
        overflow: hidden;
        padding-bottom: 500px;
        box-shadow:
         0 5.9px 8.4px rgba(0, 0, 0, 0.057), 0 19.9px 28.4px rgba(0, 0, 0, 0.083), 0 89px 127px rgba(0, 0, 0, 0.14);
    }

    .map-responsive {
        margin: 0 auto;
        width: 800px;
    }
  }

  @media (min-width: 93.75rem) {
    /* Desktop */

    .section-loca5ion-hours__list-li {
        margin: 0 auto;
        width: 500px;
    }    

    .map-responsive {
        overflow: hidden;
        padding-bottom: 500px;
        box-shadow:
         0 5.9px 8.4px rgba(0, 0, 0, 0.057), 0 19.9px 28.4px rgba(0, 0, 0, 0.083), 0 89px 127px rgba(0, 0, 0, 0.14);
    }

    .map-responsive {
        margin: 0 auto;
        width: 800px;
    }
  }